"*":
  Zen:
    softWrap: true
    width: 120
  core:
    disabledPackages: [
      "language-gfm"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "tomorrow-night-eighties-syntax"
    ]
  editor:
    fontFamily: "Droid Sans Mono for Powerline"
    fontSize: 15
    showIndentGuide: true
  "exception-reporting":
    userId: "d67c3d74-5ada-b694-0496-2eafea75c91d"
  "linter-rubocop":
    disableWhenNoConfigFile: true
  "linter-ui-default":
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  "prettier-atom":
    prettierOptions:
      printWidth: 120
      singleQuote: true
  welcome:
    showOnStartup: false
